*.o
*.rc
*.ko
*.o.cmd
*.ko.cmd
*.symvers.cmd
*.mod.cmd
*.mod
*.mod.c
*.mod.o

*.bin
*.sys
*.zip

*.DS_Store
*.deb

revision.h
Module.symvers

/debian/.debhelper
/debian/px4drv-dkms
/debian/debhelper-build-stamp
/debian/files
/debian/px4drv-dkms.debhelper.log
/debian/px4drv-dkms.substvars
