#!/usr/bin/make -f

export DH_VERBOSE=1

VERSION	:= $(shell dpkg-parsechangelog -S Version | sed 's/-.*//' | sed 's/+pristine//')

%:
	dh $@ --parallel --with dkms

override_dh_install:
	dh_install dkms.conf Makefile *.c *.h 99-px4video.rules dkms px4drv_dkms_driver

override_dh_dkms:
	dh_dkms -V $(VERSION)

override_dh_fixperms:
	dh_fixperms
	find debian/px4drv-dkms/usr/src -type f -exec chmod -x {} \;

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_test:
override_dh_auto_install:
override_dh_auto_clean:
